[submodule "saf_fcos"]
	path = saf_fcos
	url = git@github.com:kvnptl/SAF-FCOS.git
[submodule "hrfuser"]
	path = hrfuser
	url = git@github.com:kvnptl/HRFuser.git
[submodule "mt_detr"]
	path = mt_detr
	url = git@github.com:kvnptl/MT-DETR.git
[submodule "mt_detr_cuda11p1"]
	path = mt_detr_cuda11p1
	url = git@github.com:kvnptl/MT-DETR.git
